apiVersion: v2
appVersion: v3.2.6
kubeVersion: ">=1.25.0-0"
description: A Helm chart for Argo CD, a declarative, GitOps continuous delivery tool for Kubernetes.
name: argo-cd
version: 9.3.5
home: https://github.com/argoproj/argo-helm
icon: https://argo-cd.readthedocs.io/en/stable/assets/logo.png
sources:
  - https://github.com/argoproj/argo-helm/tree/main/charts/argo-cd
  - https://github.com/argoproj/argo-cd
keywords:
  - argoproj
  - argocd
  - gitops
maintainers:
  - name: argoproj
    url: https://argoproj.github.io/
dependencies:
  - name: redis-ha
    version: 4.34.11
    repository: https://dandydeveloper.github.io/charts/
    condition: redis-ha.enabled
  - name: argo-cd
    version: 9.3.5
    repository: https://argoproj.github.io/argo-helm

# for latest chart version:    helm search repo argo/argo-cd --versions   |head -3 ## 
